#topbar{
	border-bottom: 1px solid #ddd;
}
header{
	line-height: 40px !important;
	#header-wrap{
		background-color: $pink !important;
	}
	.slogan{
		width: 100%;
		background-color: #fff;
		.img{
			width: 300px;
			float: left;
			#hinh2{
				display: none;
				width: 15%;
			}
		}
		.lienhe{
			float: right;
			display: flex;
			.email{
				display: flex;
				p{margin:0}
				.icon{
					width: 50px;
					height: 70px;
					padding-top: 23px;
					span{
						border: 2px solid $pink;
						color: $pink;
						padding: 10px 13px;
						border-radius: 50%;
						text-align: center;
					}
				}
				.noidung{
					padding-top: 15px;
					a{
						color: $pink;
					}
				}
			}
		}
	}

	nav{

		ul{
			li{
				a{
					color: #fff !important;
				}
				ul{
					li{
						ul{
							a{
								color: #fff !important;
								font-weight: bold !important;
								&:hover{
									color: #888 !important;
								}
							}
						}
					}
				}
			}
		}
	}
	 .giohang{
	        .badge{
	            background-color: $orange;
	            top: 0;
	            margin-top: -20px;
	            margin-left: -15px;
	            margin-right: 0;
	            padding: 3px 4px;
	        }

	    }  
}
#mainMenu nav>ul>li.mega-menu-item{ 
	.mega-menu-content{
		p{
			color: #fff !important;
		}
		.mega-menu-title{
			color: #fff;
		}
	}
}
#mainMenu nav>ul>li .dropdown-submenu:before{
	font-weight: bold;
	color: #fff;
}
#mainMenu nav>ul>li .dropdown-menu {
	background-position: right bottom;
	background-repeat: no-repeat;
	visibility: hidden;
	display: block;
	opacity: 0;
	min-width: 0px;
	top: auto;
	transform: scale(0);
	background-color: $pink;
	border: 0 solid #eee;
	border-width: 1px;
	left: auto;
	margin: -6px 0 0;
	border-radius: 0;
	box-shadow: 0 0 18px 0 rgba(0, 0, 0, .05);
	padding: 10px;
	transition: all .3s ease;
	li{
		span{
			color: #fff;
			font-weight: bold;
			&:hover{
				color: #888;
			}
		}
	}
}
#mainMenu nav>ul>li .dropdown-submenu:hover>ul, #mainMenu nav>ul>li:hover>ul{
	min-width: 230px;
	transform: scale(1);
}
